<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         id="Ganymede.views"
         name="org.eclipse.ui.views"
         point="org.eclipse.ui.views">
      <category
            name="Logging"
            id="Ganymede.Logging"/>
      <view
            name="Ganymede Log4j2 View"
            icon="icons/ganymede.gif"
            category="Ganymede.Logging"
            class="ganymede.views.GanymedeView"
            id="ganymede.views.GanymedeView" inject="true">
      </view>
   </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               visible="true"
               relationship="right"
               id="ganymede.views.GanymedeView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Ganymede Log4j2 Viewer"
            class="ganymede.preferences.Log4jPreferencePage"
            id="ganymede.preferences.Log4jPreferencePage">
      </page>
      <page
            name="Filters"
            category="ganymede.preferences.Log4jPreferencePage"
            class="ganymede.preferences.Log4jFilterPreferencePage"
            id="ganymede.preferences.Log4jFilterPreferencePage">
      </page>
      <page
            name="Columns"
            category="ganymede.preferences.Log4jPreferencePage"
            class="ganymede.preferences.Log4jColumnsPreferencePage"
            id="ganymede.preferences.Log4jColumnsPreferencePage">
      </page>
      <page
            name="Color"
            category="ganymede.preferences.Log4jPreferencePage"
            class="ganymede.preferences.ColorPreferencePage"
            id="ganymede.preferences.ColorPreferencePage">
      </page>
   </extension>
   <extension
         id="ganymede.viewactions"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ganymede.actions.QuickFilterAction"
            id="Ganymede.QuickFilterAction"
            name="QuickFilterAction">
      </command>
      <command
            defaultHandler="ganymede.actions.PauseAction"
            id="Ganymede.PauseAction"
            name="PauseAction">
      </command>
      <command
            defaultHandler="ganymede.actions.ClearAction"
            id="Ganymede.ClearAction"
            name="ClearAction">
      </command>
      <command
            id="Ganymede.StopAction"
            name="StopAction">
      </command>
      <command
            id="Ganymede.StartAction"
            name="StartAction">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:ganymede.views.GanymedeView">
         <command
               commandId="Ganymede.QuickFilterAction"
               icon="icons/filter.gif"
               label="&amp;Quick Filter"
               style="push"
               tooltip="Add a &amp;Quick filter">
         </command>
         <separator
               name="Ganymede.separator1"
               visible="true">
         </separator>
         <command
               commandId="Ganymede.PauseAction"
               icon="icons/pause.gif"
               label="Pause Display"
               style="toggle"
               tooltip="&amp;Pause">
         </command>
         <command
               commandId="Ganymede.ClearAction"
               icon="icons/clear.gif"
               label="&amp;Clear Display"
               style="push"
               tooltip="&amp;Clear">
         </command>
         <separator
               name="Ganymede.separator2"
               visible="true">
         </separator>
         <command
               commandId="Ganymede.StartAction"
               icon="icons/start.gif"
               id="Ganymede.StartAction.toolbarItem"
               label="&amp;Start Log4j2 Server"
               style="push"
               tooltip="&amp;Start Log4j2 Server">
         </command>
         <command
               commandId="Ganymede.StopAction"
               icon="icons/stop.gif"
               id="Ganymede.StopAction.toolbarItem"
               label="S&amp;top Log4j2 Server"
               style="push"
               tooltip="S&amp;top  Log4j2 Server">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:ganymede.views.GanymedeView">
         <menu
               label="Filter">
            <command
                  commandId="Ganymede.QuickFilterAction"
                  icon="icons/filter.gif"
                  label="&amp;Quick Filter"
                  style="push">
            </command>
         </menu>
         <menu
               label="Display">
            <command
                  commandId="Ganymede.PauseAction"
                  icon="icons/pause.gif"
                  label="Pause Display"
                  style="toggle"
                  tooltip="&amp;Pause">
            </command>
            <command
                  commandId="Ganymede.ClearAction"
                  icon="icons/clear.gif"
                  label="&amp;Clear Display"
                  style="push"
                  tooltip="&amp;Clear">
            </command>
         </menu>
         <menu
               label="Log4j2 Server">
            <command
                  commandId="Ganymede.StartAction"
                  icon="icons/start.gif"
                  label="&amp;Start Log4j2 Server"
                  style="push"
                  tooltip="&amp;Start Log4j2 Server">
            </command>
            <command
                  commandId="Ganymede.StopAction"
                  icon="icons/stop.gif"
                  label="S&amp;top Log4j2 Server"
                  style="push"
                  tooltip="S&amp;top  Log4j2 Server">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ganymede.actions.StartAction"
            commandId="Ganymede.StartAction">
         <enabledWhen>
         <not><reference definitionId="Ganymede.ServerStarted" /></not>
         </enabledWhen>
    </handler>
      <handler
            class="ganymede.actions.StopAction"
            commandId="Ganymede.StopAction">
         <enabledWhen><reference definitionId="Ganymede.ServerStarted" /></enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="Ganymede.ServerStarted">
         <test
               property="Ganymede.serverStarted">
         </test>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ganymede.actions.Log4JServerTester"
            id="Ganymede.log4jServerTester"
            namespace="Ganymede"
            properties="serverStarted"
            type="java.util.Collection">
      </propertyTester>
   </extension>

</plugin>

